{{> menu}}
<section class="section">
  <div class="d-flex justify-content-center" style="min-height: 90vh;">
    <div class="container">
      <div class="text-center my-4">
      <img src={{location.img}} class="location-image img-fluid">
    </div>
      <div class="location-container">
        <div class="location-name my-5">
          <h2>
            {{location.name}}
          </h2>
          <p class="coordinates">
            <small class="text-muted">
              Latitude: {{location.latitude}}, Longitude: {{location.longitude}}
            </small>
          </p>
          <p class="category">
            <small><strong>{{category.categoryName}}</strong></small>
          </p>
        </div>
        <div class="location-content">
          <p>
            {{location.locationDescription}}
          </p>
        </div>
      </div>

    </div>
  </div>
</section>