<div class="d-flex justify-content-center align-items-center" >
  <div class="container">
    <div class="row">
        <h1>{{user.firstName}}'s Account Information</h1>
    </div>
    <div class="row">
        <div class="col">
            <p>First Name: {{user.firstName}}</p>
        </div>
        <div class="col">
            <p>Last Name: {{user.lastName}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Email: {{user.email}}</p>
        </div>
        <div class="col">
            <p>Password: {{user.password}}</p>
        </div>
    </div>
  </div>
</div>