<div class="container my-4">
  <form action="/dashboard/category" class="MB-4" method="GET">
    <select class="form-select" name="categoryId" aria-label="Default select example" onchange="this.form.submit()">
      <option value="">All Categories</option>
      {{#each categories}}
      <option value="{{_id}}" {{#if (eq ../selectedCategory _id)}}selected{{/if}}>
        {{categoryName}}</option>
      {{/each}}
    </select>
  </form>
</div>

<div class="container my-4 locations-container-card">
  <h2>Saved Locations</h2>
  <div class="row justify-content-center">
    {{#each locations}}

    <div class="col-md-5 mb-4">
      <div class="card location-card shadow-sm">
        <div class="card-body">
          <a class="location-open" href="/location/{{_id}}">
            <h5 class="card-title">{{name}}</h5>
          </a>
          <p class="card-text">
            <small class="text-muted">
              Latitude: {{latitude}}, Longitude: {{longitude}}
            </small>
          </p>
        </div>
      </div>
    </div>

    {{/each}}
  </div>
</div>